.Mother {
  display: flex;
  align-items: center;
}

.Child {
  display: flex;
  align-items: center;
}

.text-container {
  flex-grow: 1;
}

.text-container p {
  margin: 0;
}

.checkbox {
  margin-left: 10px;
  height: 100%;
}